body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffe6e6;
  font-family: "Khmer OS Battambang", sans-serif;
}

.container {
  text-align: center;
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ff4d6d;
  margin-bottom: 30px;
}

button {
  font-size: 1.2rem;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 10px;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #888;
  color: white;
  position: absolute; /* សំខាន់សម្រាប់ឱ្យវាអាចរត់បាន */
}
